:root {
    --color-bg: #0f172a;
    --color-bg-panel: #111827;
    --color-bg-navbar: #0b1220;
    --color-divider: #1f2937;
    --color-border: #243145;

    --color-text-primary: #e5e7eb;
    --color-text-secondary: #9ca3af;
    --color-text-muted: #6b7280;
    --color-text-dark: #0f172a;

    --color-accent-blue: #38bdf8;
    --color-accent-green: #22c55e;
    --color-accent-yellow: #facc15;
    --color-accent-red: #ef4444;
}

* {
box-sizing: border-box;
}


html, body, #root {
    height: 100%;
    margin: 0;
}

.dashboard {
    display: flex;
    flex: 1;
    height: 100%;
    /* height: calc(100% - 80px); */
    font-family: 'Roboto', sans-serif;
}

.dashboard-panel {
    /* flex: 1; */
    padding: 16px;
    background: linear-gradient(
        to bottom,
        var(--color-bg-panel),
        #0e1626
    );
    align-items: center;
    text-align: center;
}

.control-panel {
  flex: 0 0 calc(20% - 1px);
}

.fueling-panel {
  flex: 0 0 calc(50% - 2px);
}

.rocket-panel {
    flex: 0 0 calc(30% - 1px);
}

.divider{
    width: 1px;
    background-color: var(--color-divider);
    pointer-events: none;
}

.panel-title {
  font-size: 16px;
  letter-spacing: 0.08em;
  color: var(--color-text-primary);
  margin-bottom: 12px;
}

/* ------- navbar stuff ------- */
.navbar {
    height: 80px;
    width: 100%;
    background-color: var(--color-bg-navbar);
    border-bottom: 1px solid var(--color-divider);

    display: flex;
    align-items: center;
    padding: 0 16px;
    font-family: 'Roboto', sans-serif;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Roboto', sans-serif;
}

.navbar-right {
    margin-left: auto;
}

.navbar-button {
    background-color: var(--color-accent-red);
    border: 1px solid var(--color-border);
    color: var(--color-text-dark);
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    margin: 0 10px;
}

.navbar-button:hover {
    background-color: var(--color-text-secondary);
}

.navbar-logo {
    height: 60px;
    width: auto;
}

.navbar-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-text-secondary);
}



.panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.rocket-panel {
  flex: 1;
  min-height: 0; /* IMPORTANT for flex children */
}